html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
}


.dashboard {
  height: 100vh;
  padding-bottom: 200px;
  background: linear-gradient(lighten(black, 15%), black);

  &__logo-container {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    margin-bottom: 100px;
  }

  &__logo-image {
    display: inline-block;
    max-width: 780px;
    height: auto;
  }
}
