.button {
  $blue-lagoon: #47d6b6;
  $blue-marine: #010102;

  display: inline-block;
  width: 200px;
  padding: 1.5rem .75rem;

  color: $blue-marine;
  font-size: 27px;
  font-weight: bold;

  user-select: none;
  border: 1px solid transparent;
  border-radius: 25px;
  background: linear-gradient(lighten($blue-lagoon, 30%), lighten($blue-lagoon, 5%));

  &__container {
    display: flex;
  }

  &__container--center {
    justify-content: center;
  }

  &--back {

  }

  &--link {
    text-decoration: none;
    text-align: center;
  }

  .modal__box & {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 15px;
  }

  .modal--end-game & {
    position: relative;
    left: 0;
    transform: none;
  }

}
