.button {
  $blue-lagoon: #47d6b6;
  $blue-marine: #010102;
  font-family: 'Roboto', sans-serif;

  display: inline-block;
  width: 200px;
  padding: 1.5rem .75rem;

  color: $blue-marine;
  font-size: 27px;
  font-weight: bold;

  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 3px solid darken($blue-lagoon, 10%);
  border-radius: 25px;
  background: linear-gradient(lighten($blue-lagoon, 30%), lighten($blue-lagoon, 5%));

  &:focus {
    outline: none;
  }

  &:active {
    background: lighten($blue-lagoon, 30%);
    border-bottom: 3px solid transparent;
  }

  &__container {
    display: flex;
  }

  &__container--center {
    justify-content: center;
  }

  &--link {
    text-decoration: none;
    text-align: center;
  }

  .modal__box & {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    padding: 1rem .75rem;
    margin-top: 15px;
  }

  .modal--end-game & {
    position: relative;
    left: 0;
    transform: none;
  }

}
