.button {
  $blue-lagoon: #47d6b6;
  $blue-marine: #010102;

  background: linear-gradient(lighten($blue-lagoon, 30%), lighten($blue-lagoon, 5%));
  min-width: 200px;
  min-height: 90px;
  border-radius: 25px;

  color: $blue-marine;
  font-size: 27px;
  font-weight: bold;

  &__container {
    display: flex;
  }

  &__container--center {
    justify-content: center;
  }

  &--back {

  }

  &--link {
    line-height: 72px;
  }

  .modal__box & {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-height: 70px;
    margin-top: 15px;
  }

}
