@keyframes movecredits {
    from {bottom: 0px;}
    to {bottom: 2000px;}
}

.credits {
  $grey: #383838;

  max-width: 600px;
  margin: 0 auto;


  &__title {
    text-align: center;
    color: white;
    font-size: 28px;
  }

  &__list {
    position: relative;
    max-height: 360px;
    padding: 20px 0;
    text-align: center;
    list-style: none;
    overflow: hidden;

    font-size: 21px;
    color: white;

    border: 2px solid lighten($grey, 10%);
    border-radius: 5px;
    background-color: $grey;

    li {
      position: relative;
      animation: movecredits 30s infinite;
    }

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 200px;

      position: absolute;
      bottom: 0;
      background: linear-gradient(rgba(56, 56, 56, 0.2), rgba(0, 0, 0, 0.8));
      opacity: 0.9;
      z-index: 1;
    }
  }
}
