.game {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__winner {
    width: 100%;
  }

  &__title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
  }

  &__img {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      display: inline-block;
      margin: 0 15px;
      width: auto;
      height: 115px;

      &:first-child {
        height: 90px;
        margin-top: 10px;

      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}
