.input {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  &__label {
    width: 20%;
    line-height: 35px;
    text-align: center;

    font-weight: bold;
    color: white;
  }

  &__field {
    width: 70%;
    height: 35px;
    line-height: 35px;


    background-color: white;
    border: 1px solid grey;
  }

}
