.square {
  $blue-lagoon: #47d6b6;
  $grey : #2c2c2c;
  $greyLight: #1e1e1e;

  float: left;
  width: 201px;
  height: 201px;
  box-sizing: content-box;
  border: 1px solid transparent;
  background-color: $grey;


  font-family: 'Varela Round', sans-serif;
  font-size: 160px;
  text-align: center;
  font-weight: bold;
  line-height: 175px;
  color: white;

  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  transition: background-color 0.5s ease;

  &:nth-child(1), &:nth-child(2) {
    border-right: 15px solid $greyLight;
  }

  &:focus {
    outline: none;
  }

  &.square-0, &.square-1, &.square-2 {
    .ligne-1 & {
      background-color: darken($blue-lagoon, 20%);
    }
  }

  &.square-3, &.square-4, &.square-5 {
    .ligne-2 & {
      background-color: darken($blue-lagoon, 20%);
    }
  }

  &.square-6, &.square-7, &.square-8 {
    .ligne-3 & {
      background-color: darken($blue-lagoon, 20%);
    }
  }

  &.square-0, &.square-3, &.square-6 {
    .ligne-4 & {
      background-color: darken($blue-lagoon, 20%);
    }
  }

  &.square-1, &.square-4, &.square-7 {
    .ligne-5 & {
      background-color: darken($blue-lagoon, 20%);
    }
  }

  &.square-2, &.square-5, &.square-8 {
    .ligne-6 & {
      background-color: darken($blue-lagoon, 20%);
    }
  }

  &.square-0, &.square-4, &.square-8 {
    .ligne-7 & {
      background-color: darken($blue-lagoon, 20%);
    }
  }

  &.square-2, &.square-4, &.square-6 {
    .ligne-8 & {
      background-color: darken($blue-lagoon, 20%);
    }
  }
}
