.square {
  $grey : #2c2c2c;
  $greyLight: #1e1e1e;

  float: left;
  width: 201px;
  height: 201px;
  box-sizing: content-box;
  border: 1px solid transparent;
  background: $grey;


  font-family: 'Varela Round', sans-serif;
  font-size: 160px;
  text-align: center;
  font-weight: bold;
  line-height: 175px;
  color: white;

  margin-right: -1px;
  margin-top: -1px;
  padding: 0;

  &:nth-child(1), &:nth-child(2) {
    border-right: 15px solid $greyLight;
  }

  &:focus {
    outline: none;
  }
}
