html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

#root {
  height: 100%; }

.dashboard {
  height: 100vh;
  background: linear-gradient(#262626, black); }
  .dashboard__logo-container {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    margin-bottom: 100px; }
  .dashboard__logo-image {
    display: inline-block;
    max-width: 780px;
    height: auto; }

.app-form {
  position: relative; }

.board {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: white; }
  .board:before {
    display: inline-block;
    height: 15px;
    background-color: #47d6b6; }
  .board.ligne-1:before {
    content: '';
    width: 90%;
    position: absolute;
    top: 15%;
    left: 5%; }
  .board.ligne-2:before {
    content: '';
    width: 90%;
    position: absolute;
    top: 50%;
    left: 5%; }
  .board.ligne-3:before {
    content: '';
    width: 90%;
    position: absolute;
    top: 82.5%;
    left: 5%; }
  .board.ligne-4:before {
    content: '';
    width: 82.5%;
    position: absolute;
    top: 50%;
    left: -25%;
    transform: rotate(90deg); }
  .board.ligne-5:before {
    content: '';
    width: 82.5%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: rotate(90deg); }
  .board.ligne-6:before {
    content: '';
    width: 82.5%;
    position: absolute;
    top: 50%;
    left: 42.5%;
    transform: rotate(90deg); }
  .board.ligne-7:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 50%;
    transform: rotate(45deg); }
  .board.ligne-8:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg); }
  .board__row:after {
    clear: both;
    content: "";
    display: table; }

.box {
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden; }

.button {
  display: inline-block;
  width: 200px;
  padding: 1.5rem .75rem;
  color: #010102;
  font-size: 27px;
  font-weight: bold;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 25px;
  background: linear-gradient(#c4f2e8, #5cdbbe); }
  .button__container {
    display: flex; }
  .button__container--center {
    justify-content: center; }
  .button--link {
    text-decoration: none;
    text-align: center; }
  .modal__box .button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px; }
  .modal--end-game .button {
    position: relative;
    left: 0;
    transform: none; }

.call-to-action {
  transform: translate3d(0, 0, 0);
  overflow: hidden; }
  .call-to-action__inner {
    padding: 50px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .call-to-action__inner--grey {
    background-color: lightgrey;
    border-top: 1px solid grey; }

.credits {
  max-width: 600px;
  margin: 0 auto;
  background-color: lightgray; }
  .credits__title {
    text-align: center; }
  .credits__list {
    padding: 0;
    text-align: center;
    list-style: none; }

.input {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px; }
  .input__label {
    width: 20%;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    color: white; }
  .input__field {
    width: 70%;
    height: 35px;
    line-height: 35px;
    background-color: white;
    border: 1px solid grey; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.85); }
  .modal__wrapper {
    position: relative;
    max-width: 600px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #383838; }
  .modal__title-wrapper {
    margin: 10px;
    overflow: auto;
    text-align: center; }
  .modal__title {
    width: 100%;
    color: white;
    font-weight: bold; }
  .modal__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 5%;
    right: 2%;
    z-index: 10;
    cursor: pointer; }
  .modal__box {
    position: relative;
    width: 600px;
    max-height: calc(100vh - 100px);
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden; }
  .modal__content {
    overflow-x: hidden; }
    .modal--end-game .modal__content {
      display: flex;
      justify-content: space-around; }

.players {
  width: auto;
  margin: 50px auto; }
  .players__container {
    padding: 1em; }
  .players__list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white; }
    .players__list li {
      padding: 5px 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      font-size: 18px; }
      .players__list li:nth-child(2) {
        margin-bottom: 0; }
  .players__list--one li:nth-child(1) {
    color: #47d6b6; }
  .players__list--two li:nth-child(2) {
    color: #47d6b6; }
  .players__player {
    display: inline-block;
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    background-color: #545454; }

.square {
  float: left;
  width: 201px;
  height: 201px;
  box-sizing: border-box;
  background: #2c2c2c;
  border: 20px solid #1e1e1e;
  font-size: 160px;
  text-align: center;
  font-weight: bold;
  line-height: 160px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0; }
  .square:focus {
    outline: none; }

.game {
  display: flex;
  flex-direction: row;
  justify-content: center; }
